
html {

background-image: url("img/Unbenannt.png");
background-attachment: fixed;
background-size: cover;
background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}
body {
    min-height: 100vh;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
   /* border-left: 1px solid #333;
    border-right: 1px solid #333;*/
    border: 1px solid #333;
   border-radius: 10px;
    color: rgb(51, 51, 53);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    }
    a {
        color: rgb(141, 103, 128);
    }
    a:visited {
        color: rgb(122, 95, 95);
    }
    a:hover, a:active {
        color: #eee;
    }
header {
    color: rgb(247, 247, 240);
    overflow: hidden;
        background-image: url("img/code2.png");
   
    }
.container {
    background-color: rgb(163, 189, 187, 0.95);
    border: #eee solid;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}

nav {
    background-color: #eee;
    
    
}
.navlist {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;


}
.navlist-item {
    display: inline-block;
    padding: 10px 5px;
    transition: all 2s;
}
.navlist-item a {
    text-decoration: none;
    padding: 10px 5px;
    transition: all 1s;
}
.navlist-item :hover {
    background-color:rgb(179, 190, 190);
}
.navlist-item :hover a{
    color:rgb(0, 10, 10);
}

.mypic {
    float:right;

}

.contact {
    background-color: rgba(66, 69, 75);
    color: #eee;
    border: #eee solid;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}

.htmlcode {
    background-color: black;
    color: #eee;
    
}
h2 {
    color: black;
}
.htmlcode {
    width: 25%;
    
}
.footer {
    border: #eee solid;
    margin: 5px;
    padding: 5px;
    background-color: rgb(2, 1, 14);
    color: rgb(144, 145, 150);
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}

.road {
    line-height: 1.5;
    text-align: justify;
}
ul li {
    list-style: circle;
}
  

