html {
   
    background-image: url("img/Unbenannt.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    
    }
    body {
        min-height: 100vh;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
   /* border-left: 1px solid #333;
    border-right: 1px solid #333;*/
    border: 1px solid #333;
   border-radius: 10px;
    color: rgb(51, 51, 53);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
        }
        a {
            color: rgb(141, 103, 128);
        }
        a:visited {
            color: rgb(122, 95, 95);
        }
        a:hover, a:active {
            color: #eee;
        }
    header {
        color: rgb(247, 247, 240);
        display: flow-root;
            background-image: url("img/code2.png");
       text-shadow: 2px 2px 4px rgb(67, 137, 165);
       transform: rotateZ(2deg);
    }
    nav {
        background-color: #eee;
        
        box-shadow: 0 15px 5px -5px black;
    }
    .navlist {
        margin: 0;
        padding: 0;
        list-style: none;
    
    
    }
    .navlist-item {
        display: inline-block;
        padding: 10px 5px;
        transition: all 2s;
    }
    .navlist-item a {
        color: black;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 10px 5px;
        transition: all 1s;
    }
    .navlist-item :hover {
        background-color:rgb(190, 182, 179);
    }
    .navlist-item :hover a{
        color:rgb(0, 10, 10);
    }
   
    .mypic {
        float:right;
    
    }
    .wrapper {
        display: flow-root;
        border: #eee solid;
        margin: 5px;
        padding: 5px;
        background-color:  rgb(163, 189, 187, 0.95);
        box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    }
    .back{
        width:50%;

Text-align:border-left;

float:left;
    }
    
    .front{
        width:50%;

Text-align:border-left;

float:left;
    }
    .wrapper2 {
        display: flow-root;
        border: #eee solid;
        margin: 5px;
        padding: 5px;
        background-color:  rgb(163, 189, 187, 0.95);
        box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
      
        
        
    }
    .social{
        width:60%;
        

Text-align:border-left;

float:left;
    }
    
    .language{
        width:40%;

Text-align:border-left;

float:left;
    }
h2, h3 {
    color: rgb(22, 22, 22);
}

.footer {
    border: #eee solid;
    margin: 5px;
    padding: 5px;
    background-color: rgb(2, 1, 14);
    color: rgb(144, 145, 150);
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}
.container {
    border: #eee solid;
    margin: 5px;
    padding: 5px;
    background-color:  rgb(163, 189, 187, 0.95);
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}
.marketing {
    line-height: 1.5;
}